
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

:root {
  /*declarado o nome da variavel, por caso trocar a cor nao trara efeito negativos na aplicacao*/
  --color-primary: #474b4b;
}

* {
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

html, body {
    background-color: #928d8de8;
}

a, a:hover {
  text-decoration: none;
  color: unset;
}